body {
    background-color: rgb(73, 73, 73);
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    height: 90vh;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    flex-direction: column;
}

.carcass {
    background-color: darkslategrey;
    padding: 50px 30px;
    border-radius: 16px;
}

.display {
    display: flex;
    align-items: center;
    justify-content: end;
    padding-right: 12px;

    height: 60px;
    width: 90%;
    background-color: beige;
    margin-bottom: 18px;

    font-size: 24px;
    font-weight: bold;
    border-radius: 16px;
}

.btn {
    width: 80px;
    height: 80px;
    margin: 2px;

    font-size: 24px;
    font-weight: bold;

    border-radius: 50%;
    background-color: rgb(0, 110, 255);
}

